<h1>Listing transport_links</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Sink</th>
    <th>Unit cost</th>
    <th>Transport quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transport_links.each do |transport_link| %>
  <tr>
    <td><%= transport_link.source.codename %></td>
    <td><%= transport_link.sink.codename %></td>
    <td><%= transport_link.unit_cost %></td>
    <td><%= transport_link.transport_quantity %></td>
    <td><%= link_to 'Show', transport_link %></td>
    <td><%= link_to 'Edit', edit_transport_link_path(transport_link) %></td>
    <td><%= link_to 'Destroy', transport_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= button_to 'Optimiere', :controller => 'pages', :action => 'home' %>

<%= button_to "Optimiere", :controller => 'transport_links', :action =>  'optimize'  %>

<%= link_to 'New Transport link', new_transport_link_path %>


