<!DOCTYPE html>
<html>
<head>
  <title>TransportV0</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

</html>


<li>Zurück zur <%= link_to "Hauptseite", root_path %>!</li>


